.app {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20vh;
    z-index: 100;
    overflow-y: auto;
    overflow-x: none;

    .box {
        max-width: 512px;
        width: 100vw;
        background-color: white;
        border-radius: 24px;
        padding: 24px;
        margin-bottom: 100px;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                p {
                    color: black;
                    font-family: var(--font-title);
                    font-size: 20px;
                    margin: 0;
                }
            }

            .buttons {
                button {
                    width: 32px;
                    height: 32px;
                    border-radius: 100%;
                    background: none;

                    ion-icon {
                        font-size: 24px;
                        color: black;
                    }
                }
            }
        }

        .name {
            margin-top: 24px;
        }

        .phone {
            display: flex;
            align-items: center;
            margin-top: 12px;

            .prefix {
                height: 42px;
                width: 42px;
                border-top-left-radius: 42px;
                border-bottom-left-radius: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                border: 2px solid rgb(var(--red));
                font-size: 16px;
                border-right: none;

                p {
                    color: black;
                    margin: 0;
                    font-family: var(--font-button);
                }
            }

            input {
                height: 42px;
                width: auto;
                padding-left: 10px;
                padding-right: 16px;
                font-family: var(--font-button);
                font-size: 16px;
                border-top-right-radius: 42px;
                border-bottom-right-radius: 42px;
                color: black;
                background: none;
                border: 2px solid rgb(var(--red));
                outline: none;
            }
        }

        .order-type {
            margin-top: 12px;

            select {
                height: 42px;
                width: 112px;
                padding: 0 10px;
                font-family: var(--font-button);
                font-size: 16px;
                border-radius: 42px;
                outline: none;
                border: 2px solid rgb(var(--red));
                color: black;
                background: white;
            }
        }

        .pickup-address {
            p {
                color: gray;
                font-family: var(--gray-subtitle);

            }
        }

        .delivery-address {
            margin-top: 12px;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .inpt {
            .label {
                p {
                    color: var(--gray-font);
                    font-family: var(--font-subtitle);
                    margin-bottom: 4px;
                    margin-top: 0;
                    font-size: 18px;
                    padding-left: 21px;
                }
            }

            input {
                height: 42px;
                width: auto;
                padding: 0 21px;
                font-family: var(--font-button);
                font-size: 16px;
                border-radius: 42px;
                color: black;
                background: none;
                border: 2px solid rgb(var(--red));
                outline: none;
            }
        }

        &>.buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 52px;

            button {
                height: 42px;
                width: auto;
                padding: 0 10px;
                font-family: var(--font-button);
                font-size: 16px;
                border-radius: 42px;
                border: 2px solid white;
                color: white;
                background: rgb(var(--red));
                margin-left: 8px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: -4px;
                    right: -4px;
                    bottom: -4px;
                    left: -4px;
                    border: 2px solid rgb(var(--red));
                    border-radius: 42px;
                }
            }
        }
    }
}