.app {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20vh;
    z-index: 100;

    .box {
        max-width: 512px;
        width: 100vw;
        background-color: white;
        border-radius: 24px;
        padding: 24px;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                p {
                    color: black;
                    font-family: var(--font-title);
                    font-size: 20px;
                    margin: 0;
                }
            }

            .buttons {
                button {
                    width: 32px;
                    height: 32px;
                    border-radius: 100%;
                    background: none;

                    ion-icon {
                        font-size: 24px;
                        color: black;
                    }
                }
            }
        }

        .label {
            margin-top: 12px;

            p {
                color: black;
                font-family: var(--font-subtitle);
                font-size: 17px;
                color: var(--gray-font);
                margin: 0;
            }
        }

        .types {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-top: 8px;

            button {
                height: 42px;
                width: auto;
                padding: 0 10px;
                font-family: var(--font-button);
                font-size: 16px;
                border-radius: 42px;
                border: 2px solid rgb(var(--red));
                color: black;
                background: white;

                &.selected {
                    outline: 2px solid rgb(var(--red));
                    border: 2px solid white;
                    color: white;
                    background: rgb(var(--red));
                }
            }
        }

        .amounts,
        .prices {
            display: flex;
            align-items: center;
            margin-top: 8px;
            gap: 12px;

            button {
                height: 42px;
                width: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                flex-direction: column;
                font-family: var(--font-button);
                font-size: 16px;
                border-radius: 24px;
                border: 2px solid rgb(var(--red));
                color: black;
                background: white;
                position: relative;

                p {
                    margin: 0;
                }

                &.selected {
                    border: 2px solid white;
                    color: white;
                    background: rgb(var(--red));

                    &::before {
                        content: "";
                        position: absolute;
                        top: -4px;
                        right: -4px;
                        bottom: -4px;
                        left: -4px;
                        border: 2px solid rgb(var(--red));
                        border-radius: 42px;
                    }
                }
            }
        }

        .submit {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            p {
                color: gray;
                font-size: 14px;
                font-family: var(--font-subtitle);
            }

            button {
                height: 42px;
                width: auto;
                padding: 0 10px;
                font-family: var(--font-button);
                font-size: 16px;
                border-radius: 42px;
                border: 2px solid white;
                color: white;
                background: rgb(var(--red));
                margin-left: 8px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: -4px;
                    right: -4px;
                    bottom: -4px;
                    left: -4px;
                    border: 2px solid rgb(var(--red));
                    border-radius: 42px;
                }
            }
        }
    }
}